:root {
    --border-radius: 15px;
}

.content-mid {
    width: 100%;
    height: auto;
    position: relative;
}

.book_hot {
    width: 70%;
    height: 450px;
    margin: 20px auto;
    overflow: hidden;

}

.book_hot_list {
    overflow-x: auto;
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
    scroll-behavior: smooth;
}
.book_hot_item img {
    transition: 0.3s;
}

.book_hot_item:hover img {
    transform: scale(1.05) rotate(-3deg);
}

.book_hot_list::-webkit-scrollbar {
    display: none; 
}
.book_hot_item img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.book_hot h2 {
    width: 100%;
    font-size: 36px;
    margin-bottom: 20px;
}

.Anh img {
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: var(--border-radius);
    
}

.tieuDe {
    text-align: center;
}

.tacGia {
    text-align: center;
    font-size: 18px;
    color: #555;
}

.book_hot_item {
    min-width: 200px; 
    flex-shrink: 0; 
    float: left;
    width: 15%;
    height: 100%;
    margin-bottom: 20px;
    margin-left: 5px;
    border-radius: var(--border-radius);
}



